.App-main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
body
{
	background-image: url(C:\DTAPractice\ReactPractice\jan_9_2024\shoppingcart\public\images\app-main-bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}